<!DOCTYPE html>
<html>
<head>
	<title></title><!--
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css" rel="stylesheet"/>
<link rel="stylesheet" type="text/css" href="style.css">


 <div>
   
<div id="app">
  <img src="BG.png" class="BG"   /> <!--  ภาพฉากที่เป็นดวงดาว-->
  <img src="vbvb.png" class="FG1" /> 
  <img src="vbvb2.png" class="FG2"/> 
  <div class="Display_time"> {{TimeMain_getdaytime()}}/{{TimeMain_getmonthtime()}}/{{TimeMain_getyeartime()}}   {{TimeMain_gethour()}}:{{TimeMain_getminutes()*"0"+TimeMain_getminutes()}}:{{TimeMain_getsec()}}   </div>

<input type="range" class="input_range" min="1" max="100000000" step="0.1" v-model="speedTimeinput">  <!-- ที่เร่งความเร็ว -->
<div class="Display_info_comet" >
  <div v-for="(item,index) in List_Lodestar_Time "  > 
    <div  v-if="item >=  start_timer+var_time "  class="div_txt_info_comet">
     ดาวหาง{{List_Lodestar_name[index]}} จะมาในวันที่ {{TimeStrFormat(item)}}</div> 
   
    <div v-if="List_Lodestar_Time[index] <=  start_timer+var_time " class="comet"  ></div><!--  ดาวหางต้นเเบบที่ยังไม่เสร็จ เหลือ -ความเร็วสัมพันธ์กับเวลา -เวลาที่ต้องหายไป   -->
  </div> 
</div>

	<!--<img src="town.png" :style="`position:absolute;width: 100%;height: Auto;z-index: 99;top:50%;`"/>   ภาพฉากที่อยู่หน้าสุด-->
 

</div>

</div>




<script >
var d = new Date(); 
var start_time = d.getTime();//Return the number of milliseconds since 1970/01/01:

	let app = new  Vue({
  el: '#app',
  data :{
    //start_timer :Math.floor(1608854400-(60*60*24)*6),/*(start_time/1000+25200+(60*60*24)*49), */
    start_timer :Math.floor(start_time/1000+25200)  ,
  	time:start_time,
    speedTimeinput:1,
    var_time:0,//เก็บค่าเวลา
  		 rotation:0, 
  		 speedloop:10,//250  //ความเร็วในการลูป  รอบ/วินาที
       speedTime: 0.01, //ความเร็วเวลาที่อยู่ในลูป  1 วินาที   วินาที/รอบ
       speedrotation: 0.000001141552511415525 ,//ความเร็วในการหมุน  1 วินาที = 0.000001141552511415525 องศา เพราะ 1 ปี = 360  องศา
       //List_Lodestar_Time: [start_time/1000+25200+80000 , start_time/1000+25200]
       List_Lodestar_Time: [1608054400 , 1608854400],//เก็บเวลาที่ต้องออกของดาวหาง เป็นเวลาที่เริ่มนับตั้งเเต่ 1/1/1970 หน่อยเป็น milliseconds
       List_Lodestar_name: [1 , 2], //ชื่อดาวหาง
       List_Lodestar_X: [1 , 2], //การเคลื่อนที่ในเเนวเเกน X
       List_Lodestar_Y: [1 , 2], //การเคลื่อนที่ในเเนวเเกน Y
       List_Lodestar_Orbit: [90000000 , 200000], //รอบโคจร
      },
  watch:{  
				time: function (x) {this.rotation -= this.speedrotation*this.speedTime*this.speedTimeinput; this.rotation %= 360},//ตัวทำให้หมุน
			},
  methods: {
    getsec: function(a){return Math.floor((a)%60) },
    getminutes: function(s){return Math.floor((s)/60%60) },
    gethour: function(c){return Math.floor((c)/3600%24) },
    getday: function(v){return Math.floor((v)/(60*60*24)) },
    getyeartime: function(b){ return Math.floor((this.getday(b)/365.25))+1970 },
    getmonthtime: function(n){ ans = (this.getday(n)-( Math.floor(this.getday(n)/365.25)*365 + Math.floor(this.getyeartime(n)-1970)/4)   ) ;
      if (ans - 31 > 0) {ans -= 31; //1
        if (ans - (28+(this.getyeartime(n)%4 == 0)) > 0) {ans -= (28+(this.getyeartime(n)%4 == 0));
          if (ans - 31 > 0) {ans -= 31;//3
            if (ans - 30 > 0) {ans -= 30;//4
              if (ans - 31 > 0) {ans -= 31;//5
                if (ans - 30 > 0) {ans -= 30;//6
                  if (ans - 31 > 0) {ans -= 31;//7
                    if (ans - 31 > 0) {ans -= 31;//8
                      if (ans - 30 > 0) {ans -= 30;//9
                        if (ans - 31 > 0) {ans -= 31;//10
                          if (ans - 30 > 0) {//11
                            
                            return 12//12
                              
                            } else {return 11 }
                          } else {return 10 }
                        } else {return "09" }
                      } else {return "08" }
                    } else {return "07" }
                  } else {return "06" }
                } else {return "05" }
            } else {return "04" }
          } else {return "03" }
        } else {return "02" }
      } else {return "01" }
     },
    getdaytime: function(m){ ans_d = (this.getday(m)-( Math.floor(this.getday(m)/365.25)*365 + Math.floor((this.getyeartime(m)-1970)/4))  );
      if (this.getmonthtime(m) == 1) {return ans_d}
      if (this.getmonthtime(m) == 2) {return ans_d-31}
      if (this.getmonthtime(m) == 3) {return ans_d-31 - 28}
      if (this.getmonthtime(m) == 4) {return ans_d-31*2 - 28}
      if (this.getmonthtime(m) == 5) {return ans_d-31*2 -30 - 28}
      if (this.getmonthtime(m) == 6) {return ans_d-31*3 -30 - 28}
      if (this.getmonthtime(m) == 7) {return   ans_d-31*3 -30*2 - 28}
      if (this.getmonthtime(m) == 8) {return   ans_d-31*4 -30*2 - 28}
      if (this.getmonthtime(m) == 9) {return   ans_d-31*5 -30*2 - 28}
      if (this.getmonthtime(m) == 10) {return  ans_d-31*5 -30*3 - 28}
      if (this.getmonthtime(m) == 11) {return  ans_d-31*6 -30*3 - 28}
      if (this.getmonthtime(m) == 12) {return  ans_d-31*6 -30*4 - 28}


    },
    TimeStrFormat: function(l){return this.getdaytime(l)+"/"+this.getmonthtime(l)+"/"+this.getyeartime(l)+"   "+this.gethour(l)+":"+this.getminutes(l)+':'+this.getsec(l)+'' },
    TimeMain_getsec: function(){return this.getsec(this.start_timer+this.var_time) },
    TimeMain_getminutes: function(){return this.getminutes(this.start_timer+this.var_time) },
    TimeMain_gethour: function(){return this.gethour(this.start_timer+this.var_time) },
    TimeMain_getyeartime:  function(){ return this.getyeartime(this.start_timer+this.var_time)},
    TimeMain_getmonthtime: function(){ return this.getmonthtime(this.start_timer+this.var_time)},
    TimeMain_getdaytime:   function(){ return this.getdaytime(this.start_timer+this.var_time) },
    speedup() {
      if (this.speedTime <= 6) {this.speedTime += 0.02;}
      console.log(this.speedTime);

    },
  speeddown() {
      if (this.speedTime >= 0.03) {this.speedTime -= 0.02;};
      console.log(this.speedTime);
    }
  }
})
var checkOrbitLodestar = 0;
	setInterval(function timespeed(){//ลูป
		if (1) {app.time++;app.var_time += app.speedTime*app.speedTimeinput ;
      checkOrbitLodestar +=app.speedTime*app.speedTimeinput ;
				//console.log(app.time);
        if (checkOrbitLodestar /2592000 > 1 ) {
          checkOrbitLodestar = 0;
          for (var i = 0; i < app.List_Lodestar_Time.length; i++) {
            if (app.List_Lodestar_Time[i] < app.var_time+ app.start_timer) {app.List_Lodestar_Time[i] += app.List_Lodestar_Orbit[i]} 
          }
        
        }
		}
			
		},app.speedloop) 

</script>>
</body>
</html>