<!DOCTYPE html>
<html>
<head>
	<title></title><!--
	<link rel="stylesheet" type="text/css" href="../src/reset.css">
	<link rel="stylesheet" type="text/css" href="lab.css">-->
	<script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script> 
</head>
<body>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.5.17/vue.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.js"></script>
<link href="https://cdn.jsdelivr.net/npm/vuetify@1.5.14/dist/vuetify.min.css" rel="stylesheet"/>


 <div>
   
<div id="app">
  <img src="BG.png"  :style="`transform: rotate(${rotation}deg);position: fixed; width: 180%;top: -50%;left: -40%;`" /> <!--  ภาพฉากที่เป็นดวงดาว-->
  <img src="vbvb.png" :style=" `z-index: 3; top: -10%;left: -18%;position: fixed;    opacity: 0.7;`" /> 
  <img src="vbvb2.png" :style="`z-index: 3; top: -10%;right: -25%;position: fixed;    opacity: 0.7;`"/> 
  <button class="button" v-on:click="speedup()" :style="`background-color: white; color: black; border: 10px solid #008CBA; z-index: 4;position: fixed ;top:80%;left: 50%;`">speed up </button> <!--ปุ่มเร่งความเร็ว-->
<button class="button" v-on:click="speeddown()" :style="`background-color: white; color: black; border: 10px solid #008CBA; z-index: 4;position: fixed;top:80%;left: 40%;`">speed down </button> <!--ปุ่มเร่งความลด-->
<div v-if="Time_List_Lodestar[0] >=  var_time "  :style="` z-index: 4;position: fixed;top:5%;left: 0%;background-color: black;  color: white;`">ดาวหางที่1 จะมาใน {{Math.floor(Time_List_Lodestar[0]-var_time)}}</div><!--ที่เเสดงรายการดาวหางที่จะมาถึง-->
<div v-if="Time_List_Lodestar[1] >=  var_time "  :style="` z-index: 4;position: fixed;top:8%;left: 0%;background-color: black;  color: white;`">ดาวหางที่2 จะมาใน {{Math.floor(Time_List_Lodestar[1]-var_time)}}</div>
	
	<!--<img src="town.png" :style="`position:absolute;width: 100%;height: Auto;z-index: 99;top:50%;`"/>   ภาพฉากที่อยู่หน้าสุด-->
  <div v-if="Time_List_Lodestar[0] <=  var_time " :style="`width: 10px;height: 10px; background-color: #fff;transform:translate(${var_time+250}px, ${var_time}px); border-radius: 40px;`"></div> <!--  ดาวหางต้นเเบบที่ยังไม่เสร็จ เหลือ -ความเร็วสัมพันธ์กับเวลา -เวลาที่ต้องหายไป   -->
  <div v-if="Time_List_Lodestar[1] <=  var_time " :style="`width: 10px;height: 10px; background-color: #fff;transform:translate(${var_time*(-1)+500}px, ${var_time}px); border-radius: 40px;`"></div>
</div>

</div>




<script >
	let app = new  Vue({
  el: '#app',
  data :{
  	time:0, 
    var_time:0,//เก็บค่าเวลา
  		 rotation:0, 
  		 speed:30,//250  //ความเร็วในการลูป
       speedrotation: 0.01, //ความเร็วในการหมุน
       Time_List_Lodestar: [10 , 1000]//เก็บเวลาที่ต้องออกของดาวหาง

      },
  watch:{  
				time: function (x) {this.rotation -= this.speedrotation},//ตัวทำให้หมุน
			},
  methods: {
   
    speedup() {
      if (this.speedrotation <= 6) {this.speedrotation += 0.02;}
      console.log(this.speedrotation);

    },
  speeddown() {
      if (this.speedrotation >= 0.03) {this.speedrotation -= 0.02;};
      console.log(this.speedrotation);
    }
  }
})
	setTimeout(function timespeed(){//ลูป
		if (1) {app.time++;app.var_time += app.speedrotation*10 ;
				//console.log(app.time);
				setTimeout(timespeed, app.speed);}
			
		},app.speed) 

</script>>
</body>
</html>